## UN Sanctions

xml to pandas:

https://www.geeksforgeeks.org/convert-xml-structure-to-dataframe-using-beautifulsoup-python/

In [6]:

from bs4 import BeautifulSoup
import pandas as pd

# Reading the data inside the xml
# file to a variable under the name
# data

# with open('consolidated.xml', 'r') as f:
with open('gfg.xml', 'r') as f:
	data = f.read()

In [7]:

# Passing the stored data inside
# the beautifulsoup parser, storing
# the returned object
soup = BeautifulSoup(data, "xml")

In [8]:
authors = soup.find_all('author')
titles = soup.find_all('title')
prices = soup.find_all('price')
pubdate = soup.find_all('publish_date')
genres = soup.find_all('genre')
des = soup.find_all('description')

In [10]:
data = []
for i in range(0,len(authors)):
	rows = [authors[i].get_text(),titles[i].get_text(),
			genres[i].get_text(),prices[i].get_text(),
			pubdate[i].get_text(),des[i].get_text()]
	data.append(rows)

In [11]:
df = pd.DataFrame(data,columns = ['Author','Book Title',
								'Genre','Price','Publish Date',
								'Description'], dtype = float)

display(df)

/var/folders/z7/t8qyfffs7h3dqbzjkmmhz03r0000gp/T/ipykernel_63109/665056109.py:1: FutureWarning: Could not cast to float64, falling back to object. This behavior is deprecated. In a future version, when a dtype is passed to 'DataFrame', either all columns will be cast to that dtype, or a TypeError will be raised.
  df = pd.DataFrame(data,columns = ['Author','Book Title',

,Author,Book Title,Genre,Price,Publish Date,Description
0,"Gambardella, Matthew",XML Developer's Guide,Computer,44.95,2000-10-01,An in-depth look at creating applications with...
1,"Ralls, Kim",Midnight Rain,Fantasy,5.95,2000-12-16,"A former architect battles corporate zombies, ..."
2,"Corets, Eva",Maeve Ascendant,Fantasy,5.95,2000-11-17,After the collapse of a nanotechnology society...
3,"Corets, Eva",Oberon's Legacy,Fantasy,5.95,2001-03-10,"In post-apocalypse England, the mysterious age..."
4,"Corets, Eva",The Sundered Grail,Fantasy,5.95,2001-09-10,"The two daughters of Maeve, half-sisters, batt..."
5,"Randall, Cynthia",Lover Birds,Romance,4.95,2000-09-02,When Carla meets Paul at an ornithology confer...
6,"Thurman, Paula",Splish Splash,Romance,4.95,2000-11-02,A deep sea diver finds true love twenty thousa...
7,"Knorr, Stefan",Creepy Crawlies,Horror,4.95,2000-12-06,"An anthology of horror stories about roaches,c..."
8,"Kress, Peter",Paradox Lost,Science Fiction,6.95,2000-11-02,After an inadvertant trip through a Heisenberg...
9,"O'Brien, Tim",Microsoft .NET: The Programming Bible,Computer,36.95,2000-12-09,Microsoft's .NET initiative is explored in det...
10,"O'Brien, Tim",MSXML3: A Comprehensive Guide,Computer,36.95,2000-12-01,The Microsoft MSXML3 parser is covered in deta...
11,"Galos, Mike",Visual Studio 7: A Comprehensive Guide,Computer,49.95,2001-04-16,Microsoft Visual Studio 7 is explored in depth...

In [21]:


# with open('consolidated.xml', 'r') as f:
with open('consolidated.xml', 'r') as f:
	un_data = f.read()

un_soup = BeautifulSoup(un_data, "xml")

In [23]:

# Finding all instances of tag
# `unique`
indivs = un_soup.find_all('INDIVIDUAL')
print(indivs[0])

<INDIVIDUAL><DATAID>6908555</DATAID><VERSIONNUM>1</VERSIONNUM><FIRST_NAME> RI </FIRST_NAME><SECOND_NAME>WON HO</SECOND_NAME><THIRD_NAME/><UN_LIST_TYPE>DPRK</UN_LIST_TYPE><REFERENCE_NUMBER>KPi.033</REFERENCE_NUMBER><LISTED_ON>2016-11-30</LISTED_ON><COMMENTS1>Ri Won Ho is a DPRK Ministry of State Security Official stationed in Syria supporting KOMID.
</COMMENTS1><DESIGNATION><VALUE>DPRK Ministry of State Security Official</VALUE></DESIGNATION><NATIONALITY><VALUE>Democratic People's Republic of Korea</VALUE></NATIONALITY><LIST_TYPE><VALUE>UN List</VALUE></LIST_TYPE><LAST_DAY_UPDATED><VALUE/></LAST_DAY_UPDATED><INDIVIDUAL_ALIAS><QUALITY/><ALIAS_NAME/></INDIVIDUAL_ALIAS><INDIVIDUAL_ADDRESS><COUNTRY/></INDIVIDUAL_ADDRESS><INDIVIDUAL_DATE_OF_BIRTH><TYPE_OF_DATE>EXACT</TYPE_OF_DATE><DATE>1964-07-17</DATE></INDIVIDUAL_DATE_OF_BIRTH><INDIVIDUAL_PLACE_OF_BIRTH/><INDIVIDUAL_DOCUMENT><TYPE_OF_DOCUMENT>Passport</TYPE_OF_DOCUMENT><NUMBER> 381310014</NUMBER></INDIVIDUAL_DOCUMENT><SORT_KEY/><SORT_KEY_LAST_MOD/></INDIVIDUAL>

In [26]:
authors = indivs.find_all('DATAID')

# DATAID



# #>6908555</DATAID><VERSIONNUM>1</VERSIONNUM><FIRST_NAME> RI </FIRST_NAME><SECOND_NAME>WON HO</SECOND_NAME><THIRD_NAME/><UN_LIST_TYPE>DPRK</UN_LIST_TYPE><REFERENCE_NUMBER>KPi.033</REFERENCE_NUMBER><LISTED_ON>2016-11-30</LISTED_ON><COMMENTS1>Ri Won Ho is a DPRK Ministry of State Security Official stationed in Syria supporting KOMID.
# </COMMENTS1><DESIGNATION><VALUE>DPRK Ministry of State Security Official</VALUE></DESIGNATION><NATIONALITY><VALUE>Democratic People's Republic of Korea</VALUE></NATIONALITY><LIST_TYPE><VALUE>UN List</VALUE></LIST_TYPE><LAST_DAY_UPDATED><VALUE/></LAST_DAY_UPDATED><INDIVIDUAL_ALIAS><QUALITY/><ALIAS_NAME/></INDIVIDUAL_ALIAS><INDIVIDUAL_ADDRESS><COUNTRY/></INDIVIDUAL_ADDRESS><INDIVIDUAL_DATE_OF_BIRTH><TYPE_OF_DATE>EXACT</TYPE_OF_DATE><DATE>1964-07-17</DATE></INDIVIDUAL_DATE_OF_BIRTH><INDIVIDUAL_PLACE_OF_BIRTH/><INDIVIDUAL_DOCUMENT><TYPE_OF_DOCUMENT>Passport</TYPE_OF_DOCUMENT><NUMBER> 381310014</NUMBER></INDIVIDUAL_DOCUMENT><SORT_KEY/><SORT_KEY_LAST_MOD/></INDIVIDUAL>

AttributeError: ResultSet object has no attribute 'find_all'. You're probably treating a list of elements like a single element. Did you call find_all() when you meant to call find()?

In [ ]:

# Using find() to extract attributes
# of the first instance of the tag
# b_name = Bs_data.find('child', {'name':'Frank'})

# print(b_name)

# Extracting the data stored in a
# specific attribute of the
# `child` tag
# value = b_name.get('test')

# print(value)