In [34]:
import xmltodict
import json
import pandas as pd
import numpy as np

# with open('consol.xml', 'r') as f:
with open('consolidated.xml', 'r') as f:
    data = f.read()

cons_dict = xmltodict.parse(data)
cons_json = json.dumps(cons_dict, indent=2)
print(cons_json[:2000])

{
  "CONSOLIDATED_LIST": {
    "@xmlns:xsi": "http://www.w3.org/2001/XMLSchema-instance",
    "@xsi:noNamespaceSchemaLocation": "https://www.un.org/sc/resources/sc-sanctions.xsd",
    "@dateGenerated": "2022-10-21T20:40:12.605-04:00",
    "INDIVIDUALS": {
      "INDIVIDUAL": [
        {
          "DATAID": "6908555",
          "VERSIONNUM": "1",
          "FIRST_NAME": "RI",
          "SECOND_NAME": "WON HO",
          "THIRD_NAME": null,
          "UN_LIST_TYPE": "DPRK",
          "REFERENCE_NUMBER": "KPi.033",
          "LISTED_ON": "2016-11-30",
          "COMMENTS1": "Ri Won Ho is a DPRK Ministry of State Security Official stationed in Syria supporting KOMID.",
          "DESIGNATION": {
            "VALUE": "DPRK Ministry of State Security Official"
          },
          "NATIONALITY": {
            "VALUE": "Democratic People's Republic of Korea"
          },
          "LIST_TYPE": {
            "VALUE": "UN List"
          },
          "LAST_DAY_UPDATED": {
            "VALUE": null
          },
          "INDIVIDUAL_ALIAS": {
            "QUALITY": null,
            "ALIAS_NAME": null
          },
          "INDIVIDUAL_ADDRESS": {
            "COUNTRY": null
          },
          "INDIVIDUAL_DATE_OF_BIRTH": {
            "TYPE_OF_DATE": "EXACT",
            "DATE": "1964-07-17"
          },
          "INDIVIDUAL_PLACE_OF_BIRTH": null,
          "INDIVIDUAL_DOCUMENT": {
            "TYPE_OF_DOCUMENT": "Passport",
            "NUMBER": "381310014"
          },
          "SORT_KEY": null,
          "SORT_KEY_LAST_MOD": null
        },
        {
          "DATAID": "6908570",
          "VERSIONNUM": "1",
          "FIRST_NAME": "CHANG",
          "SECOND_NAME": "CHANG HA",
          "THIRD_NAME": null,
          "UN_LIST_TYPE": "DPRK",
          "REFERENCE_NUMBER": "KPi.037",
          "LISTED_ON": "2016-11-30",
          "COMMENTS1": null,
          "DESIGNATION": {
            "VALUE": "President of the Second Academy of Natural Sciences (SANS)"
          },

In [35]:
indivs = cons_dict['CONSOLIDATED_LIST']['INDIVIDUALS']['INDIVIDUAL']
entities = cons_dict['CONSOLIDATED_LIST']['ENTITIES']['ENTITY']
print(type(indivs))  # list

df_ind_norm = pd.json_normalize(indivs,
                                    meta=[
                                          ['INDIVIDUAL_ADDRESS', 'COUNTRY', 'STATE_PROVINCE','ZIP_CODE', 'NOTE'],
                                          ['INDIVIDUAL_DOCUMENT', 'TYPE_OF_DOCUMENT', 'NUMBER', 'ISSUING_COUNTRY', 'NOTE'],
                                    ['INDIVIDUAL_DATE_OF_BIRTH', 'TYPE_OF_DATE', 'DATE'],
                                    ['INDIVIDUAL_ALIAS', 'QUALITY', 'ALIAS_NAME'],
                                     ['INDIVIDUAL_PLACE_OF_BIRTH','CITY', 'STATE_PROVINCE', 'COUNTRY']
                                          ]                                   
                                   )  #, record_path =['INDIVIDUAL'])

<class 'list'>

In [36]:
entities = cons_dict['CONSOLIDATED_LIST']['ENTITIES']['ENTITY']
ent_json = json.dumps(entities, indent=2)
# print(ent_json[:1000])
df_ent_norm = pd.json_normalize(entities, meta=[
                                            ['ENTITY_ADDRESS','STREET', 'CITY', 'COUNTRY','STATE_PROVINCE','ZIP_CODE', 'NOTE'],
                                            ['ENTITY_ALIAS', 'QUALITY', 'ALIAS_NAME']
])
 
df_ent_norm = df_ent_norm.drop(columns=['SORT_KEY', 'SORT_KEY_LAST_MOD','ENTITY_ADDRESS', 'ENTITY_ALIAS'])
df_ent_norm.info()
df_ent_norm

# ,
#                                     meta=[
#                                           ['INDIVIDUAL_ADDRESS', 'COUNTRY', 'STATE_PROVINCE','ZIP_CODE', 'NOTE'],
#                                           ['INDIVIDUAL_DOCUMENT', 'TYPE_OF_DOCUMENT', 'NUMBER', 'ISSUING_COUNTRY', 'NOTE'],
#                                     ['INDIVIDUAL_DATE_OF_BIRTH', 'TYPE_OF_DATE', 'DATE'],
#                                     ['INDIVIDUAL_ALIAS', 'QUALITY', 'ALIAS_NAME'],
#                                      ['INDIVIDUAL_PLACE_OF_BIRTH','CITY', 'STATE_PROVINCE', 'COUNTRY']
#                                           ]                                   
#                                    )  #, record_path =['INDIVIDUAL'])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 253 entries, 0 to 252
Data columns (total 19 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   DATAID                         253 non-null    object
 1   VERSIONNUM                     253 non-null    object
 2   FIRST_NAME                     253 non-null    object
 3   UN_LIST_TYPE                   253 non-null    object
 4   REFERENCE_NUMBER               253 non-null    object
 5   LISTED_ON                      253 non-null    object
 6   COMMENTS1                      246 non-null    object
 7   LIST_TYPE.VALUE                253 non-null    object
 8   LAST_DAY_UPDATED.VALUE         114 non-null    object
 9   ENTITY_ALIAS.QUALITY           38 non-null     object
 10  ENTITY_ALIAS.ALIAS_NAME        38 non-null     object
 11  ENTITY_ADDRESS.CITY            83 non-null     object
 12  ENTITY_ADDRESS.COUNTRY         118 non-null    object
 13  ENTITY_ADDRESS.NOTE            12 non-null     object
 14  ENTITY_ADDRESS.STATE_PROVINCE  16 non-null     object
 15  NAME_ORIGINAL_SCRIPT           44 non-null     object
 16  ENTITY_ADDRESS.STREET          65 non-null     object
 17  ENTITY_ADDRESS.ZIP_CODE        6 non-null      object
 18  SUBMITTED_ON                   1 non-null      object
dtypes: object(19)
memory usage: 37.7+ KB

,DATAID,VERSIONNUM,FIRST_NAME,UN_LIST_TYPE,REFERENCE_NUMBER,LISTED_ON,COMMENTS1,LIST_TYPE.VALUE,LAST_DAY_UPDATED.VALUE,ENTITY_ALIAS.QUALITY,ENTITY_ALIAS.ALIAS_NAME,ENTITY_ADDRESS.CITY,ENTITY_ADDRESS.COUNTRY,ENTITY_ADDRESS.NOTE,ENTITY_ADDRESS.STATE_PROVINCE,NAME_ORIGINAL_SCRIPT,ENTITY_ADDRESS.STREET,ENTITY_ADDRESS.ZIP_CODE,SUBMITTED_ON
0,6908629,1,PROPAGANDA AND AGITATION DEPARTMENT (PAD),DPRK,KPe.053,2017-09-11,The Propaganda and Agitation Department has fu...,UN List,None,None,None,Pyongyang,Democratic People's Republic of Korea,NaN,NaN,NaN,NaN,NaN,NaN
1,110403,1,7TH OF TIR,Iran,IRe.001,2006-12-23,Subordinate of Defence Industries Organisation...,UN List,2014-12-17,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,6908409,1,ABDALLAH AZZAM BRIGADES (AAB),Al-Qaida,QDe.144,2014-09-23,An armed group that has carried out joint atta...,UN List,2019-12-06,NaN,NaN,NaN,NaN,"Operates in Lebanon, Syria and the Arabian Pen...",NaN,NaN,NaN,NaN,NaN
3,113445,1,ABU SAYYAF GROUP,Al-Qaida,QDe.001,2001-10-06,Associated with Jemaah Islamiyah (JI) (QDe.092...,UN List,"[2011-12-13, 2020-11-24]",a.k.a.,Al Harakat Al Islamiyya,NaN,Philippines,NaN,NaN,NaN,NaN,NaN,NaN
4,110402,1,ABZAR BORESH KAVEH CO. (BK CO.),Iran,IRe.002,2008-03-03,Involved in the production of centrifuge compo...,UN List,2014-12-17,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
248,6908697,1,WEIHAI WORLD-SHIPPING FREIGHT,DPRK,KPe.074,2018-03-30,Ship and commercial manager of the XIN GUANG H...,UN List,"[2018-05-23, 2022-09-14]",None,None,Shandong,China,NaN,NaN,NaN,"419-201, Tongyi Lu, Huancui Qu, Weihai",264200,NaN
249,110328,1,YA MAHDI INDUSTRIES GROUP,Iran,IRe.076,2007-03-24,"Subordinate to AIO, which is involved in inter...",UN List,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
250,110327,1,YAS AIR,Iran,IRe.077,2012-12-20,"Yas Air is the new name for Pars Air, a compan...",UN List,None,None,None,Tehran,Iran (Islamic Republic of),NaN,NaN,NaN,"Mehrabad International Airport, Next to Termin...",NaN,NaN
251,110326,1,YAZD METALLURGY INDUSTRIES (YMI),Iran,IRe.078,2010-06-09,YMI is a subordinate of DIO. [Old Reference #E...,UN List,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
252,6908689,1,YUK TUNG ENERGY PTE LTD,DPRK,KPe.075,2018-03-30,Ship manager and commercial manager of the YUK...,UN List,"[2020-05-11, 2022-07-26]",None,None,Singapore,Singapore,NaN,NaN,NaN,"80 Raffles Place, #17-22 UOB Plaza",048624,NaN

In [37]:
# pd.set_option('display.expand_frame_repr', True)
# pd.set_option('max_colwidth', -1)
import re
rstring = "(\([a-z]{3,4}.\d{3,4}\))"
df_ind_norm['TARGETS'] = df_ind_norm.loc[:,'COMMENTS1'].str.findall(r'\([a-z]{3,4}.\d{3,4}\)', flags=re.IGNORECASE)
df_ind_norm.loc[:,'TARGETS'] = [] if df_ind_norm.loc[:,'TARGETS'] is None else df_ind_norm.loc[:,'TARGETS']

# for i in range(df_ind_norm.shape[0]):
#     # source = df_ind_norm['REFERENCE_NUMBER'].loc[i]
#     if (df_ind_norm['TARGETS'].loc[i] is None):
#         df_ind_norm.at[i, 'TARGETS'] = []
#     # target_list_len = len(df_ind_norm['TARGETS'].loc(i))
#     for j, target_list in enumerate(df_ind_norm['TARGETS'].loc(i)):
#         # target.replace("(","").replace(")","")
#         for k, target in enumerate(target_list:
#             df_ind_norm['TARGETS'].loc(i)[j] = target.replace("(","").replace(")","")
# df_ind_norm.loc[:,'TARGETS'] = [[y.replace("(","").replace(")","") for y in x] for x in df_ind_norm.loc[:,'TARGETS']]
# df_ind_norm['TARGETS'] = [x.replace("(","").replace(")","") for x in df_ind_norm.loc[:,'COMMENTS1'].str.findall(r'\([a-z]{3,4}.\d{3,4}\)', flags=re.IGNORECASE)]
# df_ind_norm['TARGETS'] = [x.replace("(","").replace(")","")  for x in df_ind_norm.loc[:,'COMMENTS1'].str.findall(r'\([a-z]{3,4}.\d{3,4}\)', flags=re.IGNORECASE) if x is not None]
# print(df_ind_norm.loc[(df_ind_norm['TARGETS'].notnull()) & (df_ind_norm['CONN_COUNT']>1)],['TARGETS','CONN_COUNT'])
# df_ind_norm = df_ind_norm.astype({'TARGETS': int})

In [38]:

# df_ind_norm.rename(str.replace('INDIVIDUAL_',''), axis='columns')
df_ind_norm.columns = [c.replace("INDIVIDUAL_", "") for c in list(df_ind_norm.columns)]

# display(dataFrame.loc[(dataFrame['Salary']>=100000) & (dataFrame['Age']< 40) & (dataFrame['JOB'].str.startswith('D')),
# print(df_ind_norm[[(df_ind_norm.CONNECTIONS.notnull()) and ('CONN_COUNT'>1)]][['CONNECTIONS', 'COMMENTS1']])  # [['CONNECTIONS' == None]]
# https://regex101.com/r/ejCzvg/1
# [itm for itm in S.str.extractall('(.*)') if (itm is not None and len(str(itm))>0)]
# [itm[0] for itm in S.str.findall('(.*)') if (itm is not None and len(itm)>0)]
# [itm[0] for itm in S.str.findall('^[Ff].*') if (itm is not None and len(itm)>0)]

In [39]:
col_list = list(df_ind_norm.columns)
col_list.remove('TARGETS')

In [40]:
for column in ['THIRD_NAME', 'SECOND_NAME', 'FIRST_NAME']:
    df_ind_norm.loc[:, column].replace(np.nan, '', inplace=True)
    print(df_ind_norm[column].value_counts())

# df_ind_norm[['SECOND_NAME','THIRD_NAME']].replace(np.nan, '', inplace=True)
# # df_ind_norm['SECOND_NAME'].replace(np.nan, '', inplace=True)

             361
IBRAHIM       17
HUSSEIN        6
MUHAMMAD       6
HASSAN         6
            ...
AZHAR          1
AWAN           1
ANWARI         1
ASELDEROV      1
NOORZAI        1
Name: THIRD_NAME, Length: 281, dtype: int64
                  9
MOHAMED           8
ALI               8
HAQQANI           8
MOHAMMED          7
                 ..
BYONG CHOL        1
BWAMBALE          1
YANGOUVONDA       1
BEN ABDUL AZIZ    1
‘ABD AL-SALAM     1
Name: SECOND_NAME, Length: 569, dtype: int64
KIM         17
MOHAMMAD    13
RI          12
ALI         10
MOHAMMED     9
            ..
BOUBAKER     1
MOKHTAR      1
MAHMOOD      1
AYYUB        1
SAID JAN     1
Name: FIRST_NAME, Length: 523, dtype: int64

In [41]:

for i in range(df_ind_norm.shape[0]):
    source = df_ind_norm['REFERENCE_NUMBER'].loc[i]
    if (df_ind_norm['TARGETS'].loc[i] is None):
        df_ind_norm.at[i, 'TARGETS'] = []

df_ind_norm['CONN_COUNT'] = df_ind_norm['TARGETS'].str.len().astype(int)
# df_ind_norm[['CONN_COUNT']] = df_ind_norm[['CONN_COUNT']].astype(int)
df_ind_norm["NAME"] = df_ind_norm['FIRST_NAME'].astype(str) +" "+ df_ind_norm["SECOND_NAME"] +" "+ df_ind_norm["THIRD_NAME"]

link_list = []

for i in range(df_ind_norm.shape[0]):
    source = df_ind_norm['REFERENCE_NUMBER'].loc[i]
    # if (df_ind_norm['TARGETS'].loc[i] is None):
    #     df_ind_norm.at[i, 'TARGETS'] = []

    if (df_ind_norm['TARGETS'].loc[i] is not None) and (len(df_ind_norm['TARGETS'].loc[i]) > 0):        
        # print(i, target_list.loc[i])
        targets_list = []
        for target in df_ind_norm['TARGETS'].loc[i]:
            target = target.replace('(','').replace(')','')
            if source == target:
                print('WARNING', source, ' equals ', target)
            targets_list.append(target)
            name = df_ind_norm['NAME'].loc[i] 
            link2 = [df_ind_norm['REFERENCE_NUMBER'].loc[i], target, name]
            link_list.append(link2)
            df_ind_norm.at[i, 'TARGETS'] = targets_list

            # df_ind_norm['TARGETS'].loc[i] = targets_list

print(df_ind_norm['TARGETS'].value_counts())
t = df_ind_norm['TARGETS']

[]                                      477
[QDe.115]                                41
[QDe.137]                                15
[QDe.004]                                11
[TAi.004]                                 9
                                       ...
[QDe.115, QDe.137, QDi.299, QDi.317]      1
[QDe.134, QDe.141, QDe.115]               1
[QDe.115, QDe.129]                        1
[QDe.129, QDi.006]                        1
[TAi.154]                                 1
Name: TARGETS, Length: 118, dtype: int64

In [42]:

print(len(link_list))

df_edges = pd.DataFrame(link_list, columns=['Source', 'Target', 'Name'] )
df_edges.to_csv('un_indiv_edges.csv', index=False)
graph = dict(zip(df_ind_norm.REFERENCE_NUMBER, df_ind_norm.TARGETS))

print(len(graph.keys()))
graph_string = str(graph)
print(graph_string[:400])
# print(graph)
# attrs = {0: {'attr1': 20, 'attr2': 'nothing'}, 1: {'attr2': 3}, 2: {'attr1': 42}, 3: {'attr3': 'hello'}, 4: {'attr1': 54, 'attr3': '33'}}
# nx.set_node_attributes(G, attrs)

340
703
{'KPi.033': [], 'KPi.037': [], 'KPi.038': [], 'QDi.430': ['QDe.115'], 'KPi.034': [], 'KPi.035': [], 'KPi.036': [], 'KPi.030': [], 'KPi.032': [], 'KPi.031': [], 'KPi.039': [], 'YEi.001': [], 'SOi.020': [], 'QDi.400': ['QDe.137'], 'QDi.343': ['QDe.004', 'QDe.137', 'QDe.115'], 'IRi.001': [], 'TAi.155': ['TAe.012', 'TAi.144'], 'QDi.012': ['QDe.098'], 'IQi.043': [], 'QDi.192': ['QDe.003'], 'TAi.121': [

In [64]:
df_ind_index = df_ind_norm.set_index('REFERENCE_NUMBER')
ind_attr_dict = {}
print(df_ind_index.index)
# print(df_ind_index['REFERENCE_NUMBER'])
# for i in range(df_ind_index.shape[0]):
for i in df_ind_index.index:  # ['REFERENCE_NUMBER']:




    name_dict = {'NAME': df_ind_index.loc[i, 'NAME']}
    ind_attr_dict[i] = name_dict
    # ind_attr_dict[df_ind_index.REFERENCE_NUMBER.loc(i)] = name_dict 
# df_ind_dict = df_ind_index.to_dict()
#print(df_dict['NAME'])
# name_dict = df_ind_dict['NAME']
# print(ind_attr_dict)

#importing pickle module
import pickle
# defining the dictionary
# records = { 
#         "subject1" : 'python', 
#         "subject2" : 'java', 
#         "subject3" : 'ruby', 
#         "subject4" : 'c++',
#         "subject5" : 'c' 
#         }
# Open file in write binary mode
# file = open("attr_dict.txt", "wb")
# writing dictionary to file using pickle.dump method
pickle_filename = 'attr_dict.pickle'
with open('attr_dict.pickle', 'wb') as handle:
    pickle.dump(ind_attr_dict, handle, protocol=pickle.HIGHEST_PROTOCOL)

# Load data (deserialize)
with open(pickle_filename, 'rb') as handle:
     unserialized_data = pickle.load(handle)

print(ind_attr_dict == unserialized_data)

Index(['KPi.033', 'KPi.037', 'KPi.038', 'QDi.430', 'KPi.034', 'KPi.035',
       'KPi.036', 'KPi.030', 'KPi.032', 'KPi.031',
       ...
       'CDi.031', 'LYi.020', 'QDi.223', 'IRi.043', 'IQi.009', 'LYi.023',
       'LYi.026', 'QDi.426', 'TAi.153', 'QDi.289'],
      dtype='object', name='REFERENCE_NUMBER', length=703)
True

In [45]:

df_edges = pd.DataFrame(link_list, columns=['Source', 'Target', 'Name'] )
df_edges.to_csv('un_indiv_edges.csv', index=False)
graph = dict(zip(df_ind_norm.REFERENCE_NUMBER, df_ind_norm.TARGETS))

print(len(graph.keys()))
# print(graph)

703

In [ ]:
# S=pd.Series(['Finland','Colombia','Florida','Japan','Puerto Rico','Russia','france'])
# [itm[0] for itm in S.str.findall('^[Ff].*') if len(itm)>0]

In [ ]:
# Add Preprocessors
# feature_eng_ip_pair_cnt = GroupByCountPreprocessor(func_kwargs={"resulting_column_name":"ip_pair_count",
#         "groupby_list":["id_orig_h","id_resp_h"],
#         "count_key":"uid"})
# self.output_obj[kwargs["resulting_column_name"]] = \
#     input_obj.groupby(
#         kwargs["groupby_list"])[kwargs["count_key"]].transform('count')

In [ ]:
import networkx as nx
dol = {0: [1]}  # single edge (0,1)
G = nx.from_dict_of_lists(dol)
list(G.edges)
# or

# >>>

[(0, 1)]

In [ ]:
# G = nx.Graph(graph)  # use Graph constructor
G = nx.from_dict_of_lists(graph)
list(G.edges)

[('QDi.430', '(QDe.115)'),
 ('QDi.400', '(QDe.137)'),
 ('QDi.343', '(QDe.004)'),
 ('QDi.343', '(QDe.137)'),
 ('QDi.343', '(QDe.115)'),
 ('TAi.155', '(TAe.012)'),
 ('TAi.155', '(TAi.144)'),
 ('QDi.012', '(QDe.098)'),
 ('QDi.192', '(QDe.003)'),
 ('TAi.162', '(TAe.010)'),
 ('TAi.162', '(TAi.163)'),
 ('TAi.105', '(TAi.144)'),
 ('QDi.295', '(QDe.092)'),
 ('QDi.295', '(QDi.086)'),
 ('QDi.229', '(QDe.011)'),
 ('TAi.145', '(TAi.024)'),
 ('QDi.309', '(QDe.004)'),
 ('QDi.309', '(QDe.130)'),
 ('QDi.309', '(QDe.019)'),
 ('QDi.309', '(QDe.121)'),
 ('QDi.363', '(QDe.115)'),
 ('QDi.414', '(QDe.115)'),
 ('TAi.167', '(TAi.160)'),
 ('QDi.304', '(QDe.133)'),
 ('QDi.304', '(QDi.217)'),
 ('QDi.304', '(QDi.293)'),
 ('QDi.304', '(QDe.092)'),
 ('MLi.004', '(QDe.135)'),
 ('MLi.005', '(QDi.316)'),
 ('QDi.316', '(QDe.135)'),
 ('QDi.316', '(QDe.014)'),
 ('QDi.316', '(QDe.134)'),
 ('QDi.424', '(QDe.135)'),
 ('QDi.424', '(QDe.159)'),
 ('TAi.091', '(TAi.004)'),
 ('QDi.193', '(QDe.003)'),
 ('TAi.159', '(TAe.012)'),
 ('TAi.159', '(TAi.144)'),
 ('TAi.149', '(TAi.022)'),
 ('TAi.158', '(TAi.004)'),
 ('TAi.158', '(TAi.147)'),
 ('TAi.002', '(TAi.004)'),
 ('TAi.109', '(TAi.004)'),
 ('QDi.313', '(QDe.014)'),
 ('QDi.325', '(QDe.115)'),
 ('QDi.325', '(QDi.317)'),
 ('QDi.325', '(QDi.299)'),
 ('QDi.328', '(QDe.137)'),
 ('QDi.324', '(QDe.004)'),
 ('QDi.324', '(QDe.137)'),
 ('QDi.429', '(QDe.115)'),
 ('QDi.327', '(QDe.137)'),
 ('QDi.361', '(QDe.115)'),
 ('QDi.338', '(QDe.137)'),
 ('QDi.389', '(QDe.014)'),
 ('QDi.060', '(QDe.143)'),
 ('QDi.291', '(QDe.129)'),
 ('QDi.291', '(QDi.282)'),
 ('QDi.291', '(QDi.283)'),
 ('QDi.344', '(QDe.004)'),
 ('QDi.231', '(QDe.011)'),
 ('QDi.231', '(QDe.004)'),
 ('QDi.278', '(QDe.115)'),
 ('QDi.379', '(QDe.137)'),
 ('QDi.379', '(QDe.129)'),
 ('QDi.292', '(QDe.129)'),
 ('QDi.292', '(QDi.282)'),
 ('QDi.332', '(QDe.144)'),
 ('QDi.399', '(QDe.137)'),
 ('QDi.317', '(QDe.137)'),
 ('QDi.317', '(QDe.115)'),
 ('QDi.317', '(QDi.006)'),
 ('QDi.337', '(QDe.137)'),
 ('QDi.382', '(QDe.137)'),
 ('QDi.318', '(QDe.004)'),
 ('QDi.318', '(QDe.003)'),
 ('QDi.318', '(QDe.136)'),
 ('QDi.318', '(QDe.129)'),
 ('QDi.318', '(QDi.006)'),
 ('QDi.318', '(QDe.014)'),
 ('QDi.380', '(QDe.004)'),
 ('QDi.412', '(QDe.115)'),
 ('QDi.412', '(QDe.157)'),
 ('QDi.411', '(QDe.115)'),
 ('QDi.330', '(QDe.004)'),
 ('QDi.276', '(QDi.277)'),
 ('QDi.276', '(QDe.115)'),
 ('QDi.277', '(QDi.276)'),
 ('QDi.277', '(QDe.115)'),
 ('QDi.377', '(QDe.004)'),
 ('QDi.334', '(QDe.004)'),
 ('QDi.334', '(QDe.115)'),
 ('QDi.273', '(QDe.004)'),
 ('QDi.339', '(QDe.115)'),
 ('QDi.339', '(QDe.004)'),
 ('QDi.432', '(QDe.115)'),
 ('QDi.282', '(QDe.129)'),
 ('QDi.282', '(QDi.006)'),
 ('QDi.369', '(QDe.115)'),
 ('QDi.369', '(QDe.129)'),
 ('QDi.415', '(QDe.134)'),
 ('QDi.415', '(QDe.141)'),
 ('QDi.415', '(QDe.115)'),
 ('QDi.381', '(QDe.004)'),
 ('QDi.381', '(QDe.137)'),
 ('QDi.384', '(QDe.115)'),
 ('QDi.385', '(QDe.115)'),
 ('QDi.329', '(QDe.004)'),
 ('QDi.392', '(QDe.115)'),
 ('QDi.401', '(QDe.129)'),
 ('QDi.006', '(QDe.004)'),
 ('QDi.006', '(QDe.003)'),
 ('QDi.326', '(QDe.115)'),
 ('QDi.326', '(QDe.137)'),
 ('QDi.326', '(QDi.299)'),
 ('QDi.326', '(QDi.317)'),
 ('QDi.335', '(QDe.004)'),
 ('QDi.335', '(QDe.115)'),
 ('QDi.299', '(QDe.115)'),
 ('QDi.296', '(QDe.096)'),
 ('QDi.296', '(QDe.130)'),
 ('QDi.370', '(QDe.115)'),
 ('QDi.422', '(QDe.019)'),
 ('QDi.422', '(QDe.008)'),
 ('QDi.152', '(QDe.014)'),
 ('QDi.323', '(QDe.137)'),
 ('QDi.265', '(QDe.118)'),
 ('QDi.364', '(QDe.115)'),
 ('QDi.042', '(QDe.002)'),
 ('QDi.248', '(QDe.128)'),
 ('QDi.371', '(QDe.004)'),
 ('QDi.371', '(QDi.006)'),
 ('QDi.404', '(QDe.115)'),
 ('QDi.305', '(QDi.217)'),
 ('QDi.305', '(QDi.293)'),
 ('QDi.305', '(QDe.133)'),
 ('QDi.305', '(QDe.092)'),
 ('QDi.217', '(QDe.133)'),
 ('QDi.293', '(QDi.217)'),
 ('QDi.080', '(QDe.004)'),
 ('CDi.036', '(CDe.001)'),
 ('CDi.036', '(CDi.015)'),
 ('QDi.311', '(QDe.010)'),
 ('QDi.311', '(QDi.303)'),
 ('QDi.345', '(QDe.115)'),
 ('QDi.279', '(QDe.014)'),
 ('QDi.136', '(QDe.014)'),
 ('QDi.136', '(QDe.139)'),
 ('QDi.136', '(QDe.140)'),
 ('QDi.136', '(QDe.141)'),
 ('QDi.375', '(QDe.115)'),
 ('QDi.355', '(QDe.145)'),
 ('QDi.333', '(QDe.090)'),
 ('QDi.333', '(QDe.143)'),
 ('QDi.386', '(QDe.014)'),
 ('QDi.386', '(QDe.115)'),
 ('QDi.388', '(QDe.115)'),
 ('QDi.307', '(QDe.118)'),
 ('QDi.307', '(QDi.263)'),
 ('QDi.421', '(QDi.006)'),
 ('QDi.421', '(QDe.004)'),
 ('QDi.417', '(QDe.115)'),
 ('QDi.058', '(QDe.069)'),
 ('QDi.058', '(QDe.004)'),
 ('QDi.396', '(QDe.100)'),
 ('QDi.405', '(QDe.115)'),
 ('QDi.365', '(QDe.115)'),
 ('QDi.312', '(QDe.132)'),
 ('QDi.376', '(QDe.129)'),
 ('QDi.419', '(QDe.115)'),
 ('QDi.300', '(QDe.010)'),
 ('QDi.300', '(QDi.301)'),
 ('QDi.301', '(QDe.010)'),
 ('QDi.301', '(QDi.300)'),
 ('QDi.410', '(QDe.115)'),
 ('QDi.331', '(QDe.129)'),
 ('QDi.245', '(QDe.128)'),
 ('QDi.245', '(QDe.001)'),
 ('QDi.245', '(QDe.092)'),
 ('QDi.252', '(QDe.014)'),
 ('QDi.246', '(QDe.128)'),
 ('QDi.246', '(QDe.001)'),
 ('QDi.243', '(QDe.128)'),
 ('QDi.342', '(QDe.137)'),
 ('QDi.167', '(QDe.014)'),
 ('TAi.092', '(TAi.034)'),
 ('QDi.232', '(QDe.014)'),
 ('QDi.409', '(QDe.115)'),
 ('QDi.352', '(QDe.132)'),
 ('QDi.251', '(QDe.014)'),
 ('QDi.251', '(QDi.232)'),
 ('CFi.007', '(CFi.002)'),
 ('QDi.366', '(QDe.115)'),
 ('QDi.431', '(QDe.161)'),
 ('QDi.250', '(QDe.014)'),
 ('TAi.004', '(TAi.109)'),
 ('QDi.367', '(QDe.148)'),
 ('QDi.341', '(QDe.137)'),
 ('QDi.341', '(QDe.115)'),
 ('QDi.218', '(QDi.087)'),
 ('QDi.204', '(QDe.001)'),
 ('QDi.204', '(QDe.115)'),
 ('QDi.268', '(QDe.088)'),
 ('TAi.040', '(TAi.144)'),
 ('TAi.040', '(TAi.146)'),
 ('TAi.040', '(TAi.042)'),
 ('TAi.040', '(TAi.150)'),
 ('TAi.150', '(TAe.012)'),
 ('TAi.150', '(TAi.040)'),
 ('TAi.150', '(TAi.144)'),
 ('TAi.079', '(TAi.064)'),
 ('TAi.146', '(TAe.012)'),
 ('TAi.146', '(TAi.040)'),
 ('TAi.006', '(TAi.004)'),
 ('TAi.144', '(TAe.012)'),
 ('TAi.144', '(TAi.040)'),
 ('TAi.169', '(TAe.012)'),
 ('QDi.378', '(QDe.115)'),
 ('QDi.029', '(QDe.115)'),
 ('QDi.359', '(QDe.115)'),
 ('QDi.395', '(QDe.133)'),
 ('QDi.395', '(QDe.115)'),
 ('QDi.374', '(QDe.137)'),
 ('QDi.308', '(QDe.118)'),
 ('QDi.087', '(QDe.092)'),
 ('QDi.087', '(QDi.218)'),
 ('TAi.147', '(TAi.004)'),
 ('QDi.368', '(QDe.137)'),
 ('LYi.029', '(LYi.025)'),
 ('LYi.029', '(LYi.026)'),
 ('QDi.360', '(QDe.115)'),
 ('QDi.394', '(QDe.115)'),
 ('QDi.394', '(QDi.299)'),
 ('QDi.416', '(QDe.115)'),
 ('QDi.372', '(QDe.115)'),
 ('QDi.306', '(QDe.004)'),
 ('QDi.336', '(QDe.137)'),
 ('TAi.163', '(TAe.010)'),
 ('TAi.163', '(TAi.162)'),
 ('TAi.165', '(TAe.013)'),
 ('QDi.418', '(QDe.115)'),
 ('QDi.340', '(QDe.115)'),
 ('QDi.340', '(QDe.004)'),
 ('CFi.010', '(CFe.002)'),
 ('CFi.010', '(CFi.009)'),
 ('CFi.009', '(CFe.002)'),
 ('CFi.011', '(CFe.002)'),
 ('CFi.011', '(CFi.009)'),
 ('QDi.408', '(QDe.115)'),
 ('QDi.425', '(QDe.159)'),
 ('QDi.425', '(QDe.014)'),
 ('QDi.383', '(QDe.115)'),
 ('QDi.319', '(QDe.134)'),
 ('TAi.053', '(TAi.004)'),
 ('QDi.247', '(QDe.128)'),
 ('QDi.413', '(QDe.115)'),
 ('QDi.356', '(QDe.115)'),
 ('MLi.007', '(QDe.134)'),
 ('QDi.423', '(QDe.014)'),
 ('QDi.423', '(QDe.135)'),
 ('QDi.423', '(QDe.159)'),
 ('TAi.051', '(TAi.004)'),
 ('QDi.272', '(QDe.118)'),
 ('QDi.196', '(QDe.004)'),
 ('QDi.196', '(QDe.003)'),
 ('QDi.357', '(QDe.115)'),
 ('QDi.358', '(QDe.115)'),
 ('QDi.406', '(QDe.137)'),
 ('QDi.427', '(QDe.132)'),
 ('QDi.280', '(QDe.014)'),
 ('CFi.008', '(CFi.001)'),
 ('TAi.173', '(TAe.014)'),
 ('TAi.154', '(TAi.153)'),
 ('TAi.166', '(TAe.011)'),
 ('TAi.166', '(TAi.147)'),
 ('TAi.042', '(TAi.040)'),
 ('QDi.314', '(QDe.134)'),
 ('QDi.314', '(QDe.014)'),
 ('QDi.314', '(QDi.136)'),
 ('QDi.315', '(QDe.134)'),
 ('QDi.315', '(QDe.014)'),
 ('QDi.298', '(QDe.004)'),
 ('QDi.298', '(QDe.014)'),
 ('QDi.353', '(QDe.143)'),
 ('QDi.354', '(QDe.115)'),
 ('QDi.354', '(QDe.143)'),
 ('QDi.242', '(QDe.128)'),
 ('QDi.294', '(QDe.092)'),
 ('QDi.294', '(QDe.001)'),
 ('QDi.348', '(QDe.092)'),
 ('QDi.348', '(QDe.147)'),
 ('TAi.058', '(TAi.004)'),
 ('QDi.271', '(QDe.118)'),
 ('QDi.271', '(QDe.004)'),
 ('TAi.157', '(TAe.012)'),
 ('TAi.157', '(TAi.144)'),
 ('TAi.157', '(TAi.040)'),
 ('QDi.303', '(QDe.010)'),
 ('QDi.303', '(QDe.004)'),
 ('TAi.096', '(TAi.004)'),
 ('QDi.407', '(QDe.115)'),
 ('QDi.403', '(QDe.115)'),
 ('QDi.020', '(QDe.004)'),
 ('QDi.263', '(QDe.118)'),
 ('YEi.005', '(YEi.003)'),
 ('QDi.387', '(QDe.004)'),
 ('QDi.244', '(QDe.128)'),
 ('QDi.244', '(QDe.001)'),
 ('QDi.350', '(QDe.092)'),
 ('QDi.350', '(QDe.147)'),
 ('TAi.011', '(TAi.024)'),
 ('QDi.322', '(QDe.138)'),
 ('QDi.124', '(QDe.092)'),
 ('QDi.124', '(QDe.004)'),
 ('QDi.349', '(QDe.092)'),
 ('QDi.349', '(QDe.147)'),
 ('QDi.057', '(QDe.069)'),
 ('QDi.057', '(QDe.070)'),
 ('QDi.057', '(QDe.011)'),
 ('QDi.241', '(QDe.128)'),
 ('QDi.241', '(QDe.001)'),
 ('QDi.241', '(QDe.092)'),
 ('QDi.056', '(QDe.068)'),
 ('QDi.397', '(QDe.137)'),
 ('TAi.034', '(TAi.070)'),
 ('TAi.070', '(TAi.034)'),
 ('TAi.022', '(TAi.004)'),
 ('TAi.022', '(TAi.149)'),
 ('QDi.261', '(QDe.119)'),
 ('QDi.261', '(QDi.259)'),
 ('TAi.171', '(TAe.012)'),
 ('TAi.164', '(TAe.012)'),
 ('TAi.164', '(TAi.144)'),
 ('QDi.428', '(QDe.137)'),
 ('QDi.223', '(QDe.011)'),
 ('QDi.426', '(QDe.115)'),
 ('TAi.153', '(TAi.154)'),
 ('QDi.289', '(QDe.004)')]